<!DOCTYPE html>
<html>
<head>
{include file="public:title"/}
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">编辑账号平台</div>
          <div class="layui-card-body" pad15>

            <div class="layui-form" wid100 lay-filter="">
              <div class="layui-form-item">
                <input type="hidden" name="id" value="{$field.id}">
                <label class="layui-form-label" for="type_id">选择类型</label>
                <div class="layui-input-block">
                  <select class="layui-input" name="type_id" id="type_id">
                    {foreach $mediaType as $t}
                    <option value="{$t.id}" {if condition="$field.type_id == $t.id"}selected{/if}>{$t.typename}</option>
                    {/foreach}
                  </select>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">平台名称</label>
                <div class="layui-input-block">
                  <input type="text" name="name" value="{$field.name}" class="layui-input" lay-verify="required">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">平台首页</label>
                <div class="layui-input-block">
                  <input type="text" name="home_url" value="{$field.home_url}" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">登录地址</label>
                <div class="layui-input-block">
                  <input type="text" name="login_url" value="{$field.login_url}" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">平台说明</label>
                <div class="layui-input-block">
                  <textarea name="description" class="layui-textarea">{$field.description}</textarea>
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="add">提交</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    layui.use(['form','element'], function(){
      var form = layui.form;
      element = layui.element;
      form.on('submit(add)', function(data){
          $.ajax({
              type:'POST',
              url:'{:url("media/platformedit")}',
              data: {
                  data:JSON.stringify(data.field)
              },
              success:function (data) {
                  var status = JSON.parse(data);
                  if (status.icon == 6){
                      layer.msg(status.msg,{icon: status.icon,time:1000},function(){
                          window.parent.location.reload();
                      });
                  } else {
                      layer.msg(status.msg,{icon: status.icon,time:1000},function(){
                          window.location.reload();
                      });
                  }
              }
          });
        return false;
      });
    });
  </script>
</body>
</html>
