<!DOCTYPE html>
<html>
<head>
  {include file="public:title"/}
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body" pad15>
            <form class="layui-form" method="post">
              <input type="hidden" name="id" value="{$field.id}">
              <div class="layui-form-item">
                <label class="layui-form-label" for="name">项目名称</label>
                <div class="layui-input-block">
                  <input type="text" id="name" name="name" value="{$field.name}" lay-verify="required" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <label class="layui-form-label" for="website">项目官网</label>
                <div class="layui-input-block">
                  <input type="text" id="website" name="website" value="{$field.website}" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <label class="layui-form-label" for="tel">客服电话</label>
                <div class="layui-input-block">
                  <input type="text" id="tel" name="tel" value="{$field.tel}" lay-verify="required" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <label class="layui-form-label" for="wechat">客服微信</label>
                <div class="layui-input-block">
                  <input type="text" id="wechat" name="wechat" value="{$field.wechat}" lay-verify="required" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <label class="layui-form-label" for="qq">客服QQ</label>
                <div class="layui-input-block">
                  <input type="text" id="qq" name="qq" value="{$field.qq}" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <label class="layui-form-label" for="head">负责人</label>
                <div class="layui-input-block">
                  <input type="text" id="head" name="head" value="{$field.head}" lay-verify="required" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <label class="layui-form-label" for="head_tel">负责人电话</label>
                <div class="layui-input-block">
                  <input type="text" id="head_tel" name="head_tel" value="{$field.head_tel}" lay-verify="required" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <label for="status" class="layui-form-label">项目状态</label>
                <div class="layui-input-block">
                  <input type="radio" name="status" value="1" title="正常" {if condition="$field.status == 1"}checked{/if}>
                  <input type="radio" name="status" value="2" title="筹备" {if condition="$field.status == 2"}checked{/if}>
                  <input type="radio" name="status" value="0" title="暂停" {if condition="$field.status == 0"}checked{/if}>
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn layui-btn-normal" lay-submit lay-filter="edit">编辑项目</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
{include file="public:footer"/}
<script type="text/javascript">
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
        var form = layui.form,layer = layui.layer;
        //监听提交
        form.on('submit(edit)', function(data){
          $.ajax({
              url:"{:url('project/edit')}",
              type:"POST",
              data: {
                  data:JSON.stringify(data.field)
              },
              success:function (data) {
                  var message = JSON.parse(data);
                  if (message.icon == 6){
                      layer.msg(message.msg,{icon: message.icon,time:1000},function () {
                          window.parent.location.reload();
                      });
                  } else {
                      layer.msg(message.msg,{icon: message.icon,time:1000});
                  }
              }
          });
          return false;
      });
    });
</script>
</body>
</html>
