<!DOCTYPE html>
<html>
<head>
 {include file="public:title"/}
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <style media="screen">
   .layui-table tbody tr:hover{
    background-color: #fff;
   }
   .layui-form-select,.layui-input{
    width: 200px;
   }
   .layui-form-item .layui-input-inline{
    width: auto;
   }
   .inputbtn::-webkit-input-placeholder{color:#1E9FFF;}
 </style>
</head>
<body>
<div class="layui-fluid" class="layui-form">
  <div class="layui-card">
    <div class="layui-tab layui-tab-brief">
      <crmblok>
        <div style="position: relative;">
          <button class="layui-btn" >客户列表</button>
          {if(!empty($implement))}
           {switch name="$implement"}
            {case value="ibegunnot"}<!-- <button class='layui-btn' onclick="crm_admin_show('批量派单','{:url('implement')}')">特殊任务订单</button> -->{/case}
            {case value="ibegunin"}<button class='layui-btn' >执行</button>{/case}
            {case value="ibegunexit"}<button class='layui-btn'>结束</button>{/case}
          {/switch}
          {/if}
          <!-- <button class="layui-btn" onclick="crm_admin_show('批量派单','{:url('sales/addditch')}')">批量派单</button> -->
              <form class="layui-form" method="get" style="display:inline-block;position: absolute;right: 0;">
              <div class="layui-input-inline">
              <input type="text" name="value" value='{$value}' class="layui-input inputbtn" lay-verify="required"placeholder="请输入姓名/公司/手机/微信" placeholder-color="red" style="border:solid 1px #eee;width:200px;">
              </div>
              <button class="layui-btn layui-btn-normal" type="submit"><i class="layui-icon layui-icon-search"></i>搜索</button>
              </form>
        </div>
      </crmblok>
      {include file="operate:cases"}
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function del(id){
      layer.confirm("您确定删除该客户吗？",function(){
        $.ajax({
          url:"{:url('sales/delser')}",
          data:{id:id},
          type:'post',
          success:function(data){
            var status = JSON.parse(data);
            layer.msg(status.msg,{icon:status.icon,time:1000},function(){
              window.location.reload();
            });
          }
        });
      });
    }
    function delAll(){
      var datas = tableCheck.getData();
      layer.confirm("确认删除选择的客户吗？",function(){
        $.ajax({
          url:"{:url('sales/delser')}",
          data:{id:datas},
          type:'post',
          success:function(data){
            var status = JSON.parse(data);
            layer.msg(status.msg,{icon:status.icon,time:1000},function(){
              window.location.reload();
            });
          }
        });
      });
    }
    // 批量转单
    function changeorderAll(title,url) {  
      var datas = tableCheck.getData();
      if (datas != '') {
        crm_admin_show(title,url+'?id='+datas);
      }else{
        layer.msg('请选择后再操作！！',{icon:5,time:1000});
      }
    }
    // 赋值岗位
    layui.use(['form','element','laydate'], function(){
      var form = layui.form,element = layui.element,laydate = layui.laydate;
      laydate.render({elem: '#test6'});
      // 编辑其他员工信息
      form.on('select(project_id)', function(data) {
      var areaId = data.value;
      $.ajax({
        url:"{:url('AjaxAction/business')}",
        data:{id:areaId},
        type:'post',
        success:function(data){
          $("#business").html(data);
          form.render('select');
        }
      });
    });
    form.on('select(sectors)', function(data) {
      var areaId = data.value;
      $.ajax({
        url:"{:url('AjaxAction/quar')}",
        data:{id:areaId},
        type:'post',
        success:function(data){
          $("#quarters_id").html(data);
          form.render('select');
        }
      });
    });
  });
</script>
</body>
</html>
