<!DOCTYPE html>
<html>
<head>
 {include file="public:title"/}
 <style media="screen">
   .layui-table tbody tr:hover{
     background-color: #fff;
   }
 </style>
</head>
<body>
<div class="layui-fluid" class="layui-form">
  <div class="layui-card">
    <div class="layui-tab layui-tab-brief">
      <crmblok>
          <div style="position: relative;">
            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
            <button class="layui-btn layui-btn-normal" onclick="crm_admin_show('添加供应商','{:url('medium/add')}')"><i class="layui-icon">&#xe608;</i>添加供应商</button>
          </div>
        </crmblok>
        <table class="layui-table">
          <thead>
            <tr>
              <th width="25" align="center">
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
              </th>
              <th align="center" style="width:80px;">联系人</th>
              <th align="center" style="width:200px;">公司品牌</th>
              <th align="center" style="width:80px;">城市</th>
              <th align="center" style="width:120px;">联系电话</th>
              <th align="center" style="width:105px;">联系微信</th>
              <th align="center">业务类型</th>
              <th align="center" style="width:100px;">合作状态</th>
              <th align="center" style="width:130px;">星级</th>
              <th align="center" style="width:160px;">操作</th>
            </tr>
          </thead>
          <tbody>
          {empty name="list"}
            <tr align="center" style="height:300px;"><td colspan="10">暂无供应商</td></tr>
          {else}
          {volist name="list" id="vv"}
            <tr>
              <td>
                  <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$vv.id}'><i class="layui-icon">&#xe605;</i></div>
              </td>
              <td>{$vv['user_name']}</td>
              <td>{$vv['external_brand']}</td>
              <td>{$vv['user_city']}</td>
              <td>{$vv['user_tel']}</td>
              <td>{$vv['user_wechat']}</td>
              <td>
                {foreach $vv['typeList'] as $v}
                {$v['typename']}&nbsp;&nbsp;&nbsp;
                {/foreach}
              </td>
              <td>
                {switch name="$vv['status']"}
                {case value="0"}审核中{/case}
                {case value="1"}预备中{/case}
                {case value="2"}暂停中{/case}
                {case value="3"}合作中{/case}
                {/switch}
              </td>
              <td><input type="hidden" id="xing" value="{$vv['rate']}"><div><div id="test4"></div></div></td>
              <td>
                <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="crm_admin_show('详情','{:url('medium/show',['id'=>$vv['id']])}')">详情</button>
              	<button class="layui-btn layui-btn-normal layui-btn-sm" onclick="crm_admin_show('编辑','{:url('medium/update',['id'=>$vv['id']])}')">编辑</button>
              	<button class="layui-btn layui-btn-normal layui-btn-sm" onclick="del('{$vv['id']}')">删除</button>
              </td>
            </tr>
          {/volist}
          {/empty}
          </tbody>
        </table>
    </div>
    </div>
  </div>
  <script>
    layui.use(['rate'],function(){
      var rate = layui.rate;
      //半星效果
      var xing = $("#xing").val();
      rate.render({elem: '#test4',value: xing,half: true,text: false,readonly:true});
    });
  	function del(id)
  	{
  		layer.confirm("您确定删除该供应商吗？",function(){
  			$.ajax({
  				url:"{:url('medium/del')}",
  				data:{id:id},
  				type:'post',
  				success:function(data)
  				{
  					var status = JSON.parse(data);
  					layer.msg(status.msg,{icon:status.icon,time:1000},function(){
  						window.location.reload();
  					});
  				}
  			});
  		});
  	}
    function delAll()
    {
      var datas = tableCheck.getData();
      layer.confirm("确认删除选中的供应商吗？",function(){
        $.ajax({
          url:"{:url('medium/del')}",
          data:{id:datas},
          type:'get',
          success:function(data){
            var status = JSON.parse(data);
            layer.msg(status.msg,{icon:status.icon,time:1000},function(){
              window.location.reload();
            });
          }
        });
      });
    }
  </script>
</body>
</html>
