<!DOCTYPE html>
<html>
<head>
{include file="public:title"/}
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">编辑积分规则</div>
          <div class="layui-card-body" pad15>

            <div class="layui-form" wid100 lay-filter="">
              <input type="hidden" name="id" value="{$int['id']}">
              <div class="layui-form-item">
              <label class="layui-form-label">积分类别</label>
              <div class="layui-input-block">
                <select name="type" lay-filter="aihao" id="type">
                  <option value="制度分" {if condition="$int['type'] eq '制度分'"} selected {if}>制度分</option>
                  <option value="绩效分" {if condition="$int['type'] eq '绩效分'"} selected {if}>绩效分</option>
                  <option value="文化分" {if condition="$int['type'] eq '文化分'"} selected {if}>文化分</option>
                  <option value="创新分" {if condition="$int['type'] eq '创新分'"} selected {if}>创新分</option>
                  <option value="其他分" {if condition="$int['type'] eq '其他分'"} selected {if}>其他分</option>
                </select>
              </div>
              </div>

              <div class="layui-form-item">
                <label class="layui-form-label">积分分值</label>
                <div class="layui-input-block">
                  <input type="text" name="score" value="{$int['score']}" class="layui-input" placeholder="在此添加积分分值">
                </div>
              </div>
              
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">考核项目</label>
                <div class="layui-input-block">
                  <textarea name="desc" placeholder="请输入考核项目" class="layui-textarea">{$int['desc']}</textarea>
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="set_website">提交</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    layui.use(['form','element'], function(){
      var form = layui.form;
      element = layui.element;
      console.log(element)
      form.on('submit(set_website)', function(data){
          $.ajax({
              type:'POST',
              url:'{:url("integral/update")}',
              data: {
                  data:JSON.stringify(data.field)
              },
              success:function (data) {
                  var status = JSON.parse(data);
                  if (status.icon == 6){
                      layer.msg(status.msg,{icon: status.icon,time:1000},function(){
                          window.parent.location.reload();
                      });
                  } else {
                      layer.msg(status.msg,{icon: status.icon,time:1000},function(){
                          window.location.reload();
                      });
                  }
              }
          });
        return false;
      });
    });
  </script>
</body>
</html>
