<!DOCTYPE html>
<html>
<head>
 {include file="public:title"/}
 <style media="screen">
   .layui-table tbody tr:hover{
     background-color: #fff;
   }
   .layui-form-select{
    width: 100px;
   }
 </style>
</head>
<body class="layui-layout-body">
<div class="layui-fluid" class="layui-form">
  <div class="layui-card">
    <div class="layui-tab layui-tab-brief">
        <table class="layui-table">
          <thead>
            <tr>
              <th  align="center">账户昵称</th>
              <th  align="center">登陆账号</th>
              <th  align="center">账号类型</th>
              <th  align="center">平台名称</th>
              <th  align="center">绑定手机</th>
              <th  align="center">手机主人</th>
              <th  align="center">绑定微信</th>
              <th  align="center">添加时间</th>
              <th  align="center">操作</th>
            </tr>
          </thead>
          <tbody>
          {volist name="Medias" id="vv"}
            <tr>
              <td>{$vv['nick']}</td>
              <td>{$vv['name']}</td>
              <td>{$vv['typename']}</td>
              <td>{$vv['platform']}</td>
              <td>{$vv['tel']}</td>
              <td>{$vv['hostname']}</td>
              <td>{$vv['wechat']}</td>
              <td><?php echo(date('Y-m-d h:i:s',$vv['create_t']));?></td>
              <td>
              	<button class="layui-btn layui-btn-normal layui-btn-sm" onclick="del('{$vv['id']}','{$id}')">删除</button>
              </td>
            </tr>
          {/volist}
          </tbody>
        </table>
        <script>
        	function del(id,user_id){
        		layer.confirm("您确定去除分配的此帐号吗？",function(){
        			$.ajax({
        				url:"{:url('team/mediadel')}",
        				data:{id:id,user_id:user_id},
        				type:'post',
        				success:function(data)
        				{
        					var status = JSON.parse(data);
        					layer.msg(status.msg,{icon:status.icon,time:1000},function(){
        						window.location.reload();
        					});
        				}
        			});
        		});
        	}
        </script>
    </div>
    </div>
  </div>
</body>
</html>
